<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div class="select-type">
        <form action="/multi" method="get" id="accomodation-type">
          <div>
            호텔<input type="checkbox" name="accomodation-type" value="hotel" />
          </div>
          <div>
            리조트<input
              type="checkbox"
              name="accomodation-type"
              value="resort"
            />
          </div>
          <div>
            모텔<input type="checkbox" name="accomodation-type" value="motel" />
          </div>
          <div>
            펜션<input
              type="checkbox"
              name="accomodation-type"
              value="pension"
            />
          </div>
          <input type="submit" />
        </form>
      </div>

      <div class="select-location">
        <div class="accomodation-location"><a>서울</a></div>
        <div class="accomodation-location"><a>강원</a></div>
        <div class="accomodation-location"><a>부산</a></div>
      </div>

      <div class="accomodation-list">
        <div class="accomodation-box">
          <div class="img-box"><img src="" alt="" /></div>
          <div class="accom-text-box">
            <h1>{{숙소 이름}}</h1>
            <span>{{숙소 타입}}</span>
            <h3>{{전화번호}}</h3>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
