{% extends "base.html" %} {% block content %}
<div class="select-location">
  <div class="place-location"><a>멍숙소</a></div>
  <div class="place-location"><a>멍카페</a></div>
  <div class="place-location"><a>멍놀자</a></div>
</div>
<div class="select-type">
  <form action="/multi" method="get" id="type">
    <div>강아지 동반<input type="checkbox" name="type" value="dogs-can" /></div>
    <div>
      강아지 전용<input type="checkbox" name="type" value="dogs-only" />
    </div>
    <input type="submit" />
  </form>
</div>
<div class="list">
  <div class="accomodation-box">
    <div class="img-box"><img src="" alt="" /></div>
    <div class="accom-text-box">
      <h1>숙소 이름</h1>
      <span>숙소 타입</span>
      <h3>전화번호</h3>
    </div>
  </div>
</div>
{% endblock %}
