{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=100" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base_home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mainList.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cafeDetail.css' %}" />
    <link rel="stylesheet" href="{% static 'css/medical.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reviewWrite.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <script
      src="https://kit.fontawesome.com/a8a24f1fa9.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap"
      rel="stylesheet"
    />
    <link 
    href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" 
    rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/06176f9978.js"
      crossorigin="anonymous"
    ></script>
    <title>대동멍지도</title>
  </head>

  <body>
    <header>
      <div class="navbar-container">
        <div class="category-container">
          <a href="/"><img src="\static\img\dmj_logo.svg" alt="" /></a>
          <a href="/list/cafe/서울/애견동반">멍카페</a>
          <a href="/list/accomo/서울/호텔">멍숙소</a>
          <a href="/list/place/서울/명소">멍놀자</a>
          <a href="/medical/list"
            ><img src="\static\img\Medical.svg" alt=""
          /></a>
        </div>
        <div class="login-container">
          {% if user.is_authenticated %}
          <a href="/logout">로그아웃</a>
          {% else %}
          <a href="/join/"><img src="\static\img\Join.svg" alt="" /></a>
          <a href="/login/"><img src="\static\img\SignIn.svg" alt="" /></a>
          {% endif %} {% if user.is_authenticated %}
          <a href="/mypage/"><img src="\static\img\MyPage.svg" alt="" /></a>
          {% else %}
          <a onclick="onclickLogin()">
            <img src="\static\img\MyPage.svg" alt="" />
          </a>
          {% endif %}
        </div>
      </div>
    </header>
    {% block content %} {% endblock %}

    <script>
      function onclickLogin() {
        alert("로그인하세요!");
        console.log("로그인하세요");
      }
    </script>

    <script
      type="text/javascript"
      src="{% static 'javascripts/mainList.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'javascripts/medical.js' %}"
    ></script>
  </body>

  <footer>
    <div class="footer-container">
      <div class="footer-logo">
        <img src="\static\img\footer_LOGO.png" alt="" />
      </div>
      <div class="footer_text">
        <h1>TEAM.</h1>
        <br />
        <h2>Pirogramming17</h2>
        <br />
        <p>Project Manager. Jang_MyungJi</p>
        <br />
        <p>FRONTEND</p>
        <h3>Kim_HanSeo</h3>
        <h4>Kim_HunDo</h4>
        <h5>Jang_MyungJi</h5>
        <br />
        <p>BACKEND</p>
        <h6>SonByeongWoo</h6>
        <h7> Jeon_Sunny</h7>
      </div>
    </div>
  </footer>
</html>
