<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/base_home.css' %}" />
  <link rel="stylesheet" href="{% static 'css/mainList.css' %}?ver=6.7" />
  <link rel="stylesheet" href="{% static 'css/cafeDetail.css' %}" />
  <script src="https://kit.fontawesome.com/a8a24f1fa9.js" crossorigin="anonymous"></script>
  <title>대동멍지도</title>
</head>

<body>
  <header>
    <div class="navbar-container">
      <div class="category-container">
        <a href="/"><img src="\static\img\dmj_logo.svg" alt=""></a>
        <a href="/list/cafe/서울/애견동반">멍카페</a>
        <a href="/list/accomo/서울/호텔">멍숙소</a>
        <a href="/list/place/서울/명소">멍놀자</a>
        <a href="/medical/list"><img src="\static\img\Medical.svg" alt=""></a>
      </div>
      <div class="login-container">
        {% if user.is_authenticated %}
        <a href="/logout">로그아웃</a>
        {% else %}
        <a href="/join/"><img src="\static\img\Join.svg" alt=""></a>
        <a href="/login/"><img src="\static\img\SignIn.svg" alt=""></a>
        {% endif %}
        <a href="/mypage/"><img src="\static\img\MyPage.svg" alt=""></a>
      </div>
    </div>
  </header>
  {% block content %} {% endblock %}

  <script type="text/javascript" src="{% static 'javascripts/mainList.js' %}?v=5.7"></script>
</body>

</html>