{% extends 'base.html'%}{% block content %}
<div class="detail-container">
  <div class="photo-container">
    <img src="https://picsum.photos/id/237/200/200" alt="">
    <img src="https://picsum.photos/id/237/200/200" alt="">
    <img src="https://picsum.photos/id/237/200/200" alt="">
  </div>
  <div class="detail-info">
    <div class="place-name"></div>
    <div class="place-star"></div>
    <div class="place-detail-info"></div>
  </div>
  <div class="detail-map"></div>
  <div class="detail-review"></div>
</div>
{% endblock %}

</div>
<form action="" class="inner-form-list">
  <label class="area-label"><input type="radio" name="location" value="서울" id="area-name"/>서울</label>
  <label class="area-label"><input type="radio" name="location" value="경기" id="area-name"/>경기</label>
  <label class="area-label"><input type="radio" name="location" value="인천" id="area-name"/>인천</label>
  <label class="area-label"><input type="radio" name="location" value="강원" id="area-name"/>강원</label>
  <label class="area-label"><input type="radio" name="location" value="충북" id="area-name"/>충북</label>
  <label class="area-label"><input type="radio" name="location" value="충남" id="area-name"/>충남</label>
  <label class="area-label"><input type="radio" name="location" value="대전" id="area-name"/>대전</label>
  <label class="area-label"><input type="radio" name="location" value="세종" id="area-name"/>세종</label>
  <label class="area-label"><input type="radio" name="location" value="전북" id="area-name"/>전북</label>
  <label class="area-label"><input type="radio" name="location" value="전남" id="area-name"/>전남</label>
  <label class="area-label"><input type="radio" name="location" value="광주" id="area-name"/>광주</label>
  <label class="area-label"><input type="radio" name="location" value="경북" id="area-name"/>경북</label>
  <label class="area-label"><input type="radio" name="location" value="경남" id="area-name"/>경남</label>
  <label class="area-label"><input type="radio" name="location" value="대구" id="area-name"/>대구</label>
  <label class="area-label"><input type="radio" name="location" value="울산" id="area-name"/>울산</label>
  <label class="area-label"><input type="radio" name="location" value="부산" id="area-name"/>부산</label>
  <label class="area-label"><input type="radio" name="location" value="제주" id="area-name"/>제주</label>
</form>
<div id="left-detail">default로 server에서 넘겨준 값 넣어야 함!</div>
<div>