{% extends 'base.html' %} {% block content %}
<div class="home-container">
  <div class="banner"><img src="\static\img\banner.svg" alt=""></div>
  <div class="where_to_leave">어디로 떠날까요?</div>
  <div class="home_location_list">
    <div class="shift-btn-left">
      <img src="\static\img\left.svg" onclick="onClickHome('left')" alt="">
    </div>
      <div class="shift-locations">
        <div class="home_location"><a href="/list/cafe/서울/애견동반"><img src="/static/img/main_loc/Tag-14.png" alt=""></a></div>
        <div class="home_location"><a href="/list/cafe/경기/애견동반"><img src="/static/img/main_loc/Tag-12.png" alt=""></a></div>
        <div class="home_location"><a href="/list/cafe/인천/애견동반"><img src="/static/img/main_loc/Tag-13.png" alt=""></a></div>
        <div class="home_location"><a href="/list/cafe/강원/애견동반"><img src="/static/img/main_loc/Tag-11.png" alt=""></a></div>
        <div class="home_location"><a href="/list/cafe/충북/애견동반"><img src="/static/img/main_loc/Tag-15.png" alt=""></a></div>
        <div class="home_location"><a href="/list/cafe/충남/애견동반"><img src="/static/img/main_loc/Tag-16.png" alt=""></a></div>
      </div>
    <div class="shift-btn-right">
      <img src="\static\img\right.svg" onclick="onClickHome('right')" alt="">
    </div>
  </div>
  <div id="num">0</div>
  <div class="page_dot"><img src="/static/img/page_1.svg" alt=""></div>
  <div class="home_random_container">
    {% for review,place,count in total_list %}
        {% if review %}
            <div class="random-review">
              <div class="random-info">
                <div class="random-title">{{place.name}}</div>
                <div class="random-ranking-type">{{review.ranking}}점 ({{count}}) {{place.type}}</div>
                <div class="random-location">{{place.address|truncatechars:15}}</div>
              </div>
              <div class="random-image">이미지 자리</div>
              <div class="random-comment">{{review.postGood|truncatechars:115}}</div>
            </div>
        {% else %}
            <div>대동멍지도의 첫번째 리뷰를 작성해주세요!</div>
        {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}