{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="banner"><img src="\static\img\banner.svg" alt=""></div>
  <div class="where_to_leave">어디로 떠날까요?</div>
  <div class="home_location_list">
    <div class="shift-btn-left">
      <img src="\static\img\left.svg" onclick="onClickHome('left')" alt="">
    </div>
      <div class="shift-locations">
        <div class="home_location"><a href="/list/cafe/서울/애견동반"><img src="/static/img/main_loc/Tag-14.png" alt=""></a></div>
        <div class="home_location"><a href="/list/cafe/경기/애견동반"><img src="/static/img/main_loc/Tag-12.png" alt=""></a></div>
        <div class="home_location"><a href="/list/cafe/인천/애견동반"><img src="/static/img/main_loc/Tag-13.png" alt=""></a></div>
        <div class="home_location"><a href="/list/cafe/강원/애견동반"><img src="/static/img/main_loc/Tag-11.png" alt=""></a></div>
        <div class="home_location"><a href="/list/cafe/충북/애견동반"><img src="/static/img/main_loc/Tag-15.png" alt=""></a></div>
        <div class="home_location"><a href="/list/cafe/충남/애견동반"><img src="/static/img/main_loc/Tag-16.png" alt=""></a></div>
      </div>
    <div class="shift-btn-right">
      <img src="\static\img\right.svg" onclick="onClickHome('right')" alt="">
    </div>
  </div>
  <div id="num">0</div>
  <div class="page_dot"><img src="/static/img/page_1.svg" alt=""></div>
  <div class="home_best_container">
    <div>베스트 장소</div>
    <div class="home_best_list">
      <div class="shift-btn">
        <button onclick="onClickLeft('left')">&lt;</button>
      </div>
      <form action="" id="location-select">
        <div class="best_shift_lists">
          <div class="home_best_item">
            <div class="item_rank">1.</div>
            <div class="item_name">멍뭉카페</div>
            <div class="item_img"><img src="" alt="" /></div>
            <a href="/">바로가기</a>
          </div>
          <div class="home_best_item">
            <div class="item_rank">2.</div>
            <div class="item_name">멍비치</div>
            <div class="item_img"><img src="" alt="" /></div>
            <a href="/">바로가기</a>
          </div>
          <div class="home_best_item">
            <div class="item_rank">3.</div>
            <div class="item_name">멍펜션</div>
            <div class="item_img"><img src="" alt="" /></div>
            <a href="/">바로가기</a>
          </div>
        </div>
      </form>
      <div class="shift-btn">
        <button onclick="onClickRight('right')">&gt;</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
