{% extends 'base.html' %} {% block content %}
  <div class="where_to_leave">어디로 떠나 볼까요?</div>
  <div class="home_location_list">
    <div class="home_location"><a href="/">서울</a></div>
    <div class="home_location"><a href="/">경기</a></div>
    <div class="home_location"><a href="/">인천</a></div>
    <div class="home_location"><a href="/">강원</a></div>
    <div class="home_location"><a href="/">충북</a></div>
    <div class="home_location"><a href="/">충남</a></div>
    <div class="home_location"><a href="/">대전</a></div>
    <div class="home_location"><a href="/">세종</a></div>
    <div class="home_location"><a href="/">전북</a></div>
    <div class="home_location"><a href="/">전남</a></div>
    <div class="home_location"><a href="/">광주</a></div>
    <div class="home_location"><a href="/">경북</a></div>
    <div class="home_location"><a href="/">경남</a></div>
    <div class="home_location"><a href="/">대구</a></div>
    <div class="home_location"><a href="/">울산</a></div>
    <div class="home_location"><a href="/">부산</a></div>
    <div class="home_location"><a href="/">제주</a></div>
  </div>
  <div class="home_best_container">
    <div>베스트 장소</div>
    <div class="home_best_list">
      <div class="home_best_item">
        <div class="item_rank">1. </div>
        <div class="item_name">멍뭉카페</div>
        <div class="item_img"><img src="" alt="" /></div>
        <a href="/">바로가기</a>
      </div>
      <div class="home_best_item">
        <div class="item_rank">2. </div>
        <div class="item_name">멍비치</div>
        <div class="item_img"><img src="" alt="" /></div>
        <a href="/">바로가기</a>
      </div>
      <div class="home_best_item">
        <div class="item_rank">3. </div>
        <div class="item_name">멍펜션</div>
        <div class="item_img"><img src="" alt="" /></div>
        <a href="/">바로가기</a>
      </div>
    </div>
  </div>
{% endblock %}