{% extends "base.html" %} {% block content %}
<div class="list-box">
  <div class="left">
    <div class="left-cate">
      <div class="cate-cafe">멍카페</div>
      <div class="cate-accomo">멍숙소</div>
      <div class="cate-place">멍놀자</div>
    </div>
    <div class="left-location">지역들 넣어야 해..</div>
    <div class="left-detail">
      ajax로 선택한 카테고리에 따른 세부선택 넣을 예정..
    </div>
  </div>
  <div class="rigth">
    <div class="list-box">
      <div class="img-box"><img src="" alt="" /></div>
      <div class="accom-text-box">
        <h1>이름</h1>
        <span>타입</span>
        <h3>전화번호</h3>
      </div>
    </div>
  </div>
</div>
{% endblock %}
