{% extends 'base.html' %} {% block content %}
<div class="search_container">
  <select name="lacations" id="location">
      <option value="gangwon">강원</option>
      <option value="seoul">서울</option>
  </select>
  <div>
    <input type="text" placeholder="검색어 입력">
    <button>검색</button>
  </div>
</div>
<div class="medical_list_container">
  <div class="medical_item">
    <div class="medical_img">
      <img src="/static/img/medical1.jpg" alt="">
    </div>
    <div class="medical_info">
      <div class="medical_name">강원도 병원</div>
      <div class="medical_address">강원도 강릉시</div>
      <div class="medical_phone">010-1234-5678</div>
    </div>
  </div>
  <div class="medical_item">
    <div class="medical_img">
      <img src="/static/img/medical2.jpg" alt="">
    </div>
    <div class="medical_info">
      <div class="medical_name">강원도 병원</div>
      <div class="medical_address">강원도 강릉시</div>
      <div class="medical_phone">010-1234-5678</div>
    </div>
  </div>
</div>
{% endblock %}