{% extends 'base.html'%}{% block content %}
<div class="my-container">
  <div class="Like_ls">
    <div class="title-container">
      <div class="title">내가 찜한 목록</div>
    </div>
    <div class="like-list">
      <!-- {% for place in likePlaces %}
          <div class="my-like">
            <div class="my-name">{{place.name}}</div>
          </div>
      {% endfor %} -->

      {% for category,place in total_like %}
      <div class="my-like">
        <div class="img-and-info">
          <div class="info-left">
            {% if place.img %}
              <div class="img-box"><img src="{{ place.img }}" /></div>
            {% else %}
              <div class="img-box"><img src="\static\img\nophoto.png" /></div>
            {% endif %}
            <div class="accom-text-box">
              <div class="name-and-type-row">
                <h1>
                  <a href="/detail/{{category}}/{{place.id}}" class="my-name"
                    >{{place.name}}</a
                  >
                </h1>
                <span class="type">{{place.type}}</span>
              </div>
              <h3 class="phone">{{place.address|truncatechars:26}}</h3>
              <div class="star"></div>
              <div class="ranking">{{place.star}}</div>
            </div>
          </div>
          <div class="favorite" id="favorite-{{place.id}}">
            <div class="like">
              <button
                style="border: 0; background: white"
                type="submit"
                onclick="onClickLike('{{category}}','{{place.id}}', '{{place.favorite}}')"
              >
                <i
                class="fa-solid fa-paw heart-like-button liked"
                style="font-size: 20px"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="myReview_ls">
    <div class="title-container">
      <div class="title">내가 쓴 리뷰</div>
    </div>
    <div class="review-list">
      {% for post,place in total_post %}
      <div class="review-container">
        <div class="my-name"><a href="/reviewDetail/{{post.id}}">{{place.name}}</a></div>
        <div class="my-review">
          <div class="img-and-star">
            {% if place.img %}
              <div class="review-img"><img src="{{ post.postImage.url }}" /></div>
            {% else %}
              <div class="review-img"><img src="\static\img\nophoto.png" /></div>
            {% endif %}
            <div class="star"></div>
            <div class="ranking">{{place.star}}</div>
          </div>
          <div class="good-bad-star">
            <div class="comment"><img src="\static\img\good.svg" /><div class="content">{{post.postGood|truncatechars:70}}</div> </div>
            <div class="comment"><img src="\static\img\bad.svg" /><div class="content">{{post.postBad|truncatechars:70}}</div></div>
          </div>
        </div>
      </div>
      
      {% endfor %}
    </div>
  </div>
</div>

<script>
  // 새로 고침시 별점상태 변경
  const stars = document.querySelectorAll(".star");
  const rankings = document.querySelectorAll(".ranking");
  stars.forEach((star, index) => {
    let ranking = rankings[index].innerHTML;
    let starNum = Math.floor(parseInt(ranking));
    for (var i = 0; i < starNum; i++) {
          const add = document.createElement("div");
          add.classList.add("yellow-star");
          add.innerHTML = `<img src="/static/img/yellow_star.svg" alt="">`;
          star.append(add);
        }
    for (var i = 0; i < 5 - starNum; i++) {
          const add = document.createElement("div");
          add.classList.add("gray-star");
          add.innerHTML = `<img src="/static/img/gray_star.svg" alt="">`;
          star.append(add);
        }
  });
</script>
{% endblock %}