{% extends 'base.html'%}{% block content %}
<div class="my-container">
  <div class="Like_ls">
    <div class="title-container">
      <div class="title">내가 찜한 목록</div>
    </div>
    <div class="like-list">
      {% for like in likePlaces %}
          <div class="my-like">
            {{like.name}}
          </div>
      {% endfor %}
    </div>
  </div>
  <div class="myReview_ls">
    <div class="title-container">
      <div class="title">내가 쓴 리뷰</div>
    </div>
    <div class="review-list">
      {% for post in posts %}
        <div class="my-review">{{post.postGood}}</div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}


<!-- 이렇게 쓰심 될 것 같아요!
<div>
    {% for like in likePlaces %}
    <div>{{like.name}}</div> like에는 내가 찜한 장소객체가 담겨 있어요! Cafe, Place, Accommodation이 섞여 있어요
    {% endfor %}
</div>



<div>
    {% for post in posts %}
    <div>{{post.postGood}}</div> 내가 쓴 리뷰들
    {% endfor %}
  </div> -->
