{% extends 'base.html' %} {% block content %}
<h1>{{선택한 지역명}}</h1>
<div class="area_category_list">
  <div class="area_category">
    <a href="/accomodation">멍숙소</a>
  </div>
  <form method="post" action="/">
    <label><input type="checkbox" name="hotel" value="hotel">호텔</label>
    <label><input type="checkbox" name="pension" value="pension">펜션</label>
    <p><input type="submit" value="검색"></p>
  </form>
  <div class="area_category">
    <a href="/cafe">멍카페</a>
  </div>
  <form method="post" action="/">
    <label><input type="checkbox" name="with_dog" value="with_dog">강아지 동반</label>
    <label><input type="checkbox" name="only_dog" value="only_dog">강아지 전용</label>
    <p><input type="submit" value="검색"></p>
  </form>
  <div class="area_category">
    <a href="/place">멍놀자</a>
  </div>
  <form method="post" action="/">
    <label><input type="checkbox" name="park" value="park">공원</label>
    <label><input type="checkbox" name="beach" value="beach">해변</label>
    <label><input type="checkbox" name="hot_place" value="hot_place">명소</label>
    <p><input type="submit" value="검색"></p>
  </form>
</div>
{% endblock %}