{% extends "base.html" %} {% block content %}
<div class="select-type">
  <form action="/multi" method="get" id="place-type">
    <div>
      강아지 동반<input type="checkbox" name="place-type" value="dogs-can" />
    </div>
    <div>
      강아지 전용<input type="checkbox" name="place-type" value="dogs-only" />
    </div>
    <input type="submit" />
  </form>
</div>

<div class="select-location">
  <div class="place-location"><a>서울</a></div>
  <div class="place-location"><a>강원</a></div>
  <div class="place-location"><a>부산</a></div>
</div>

<div class="place-list">
  <div class="place-box">
    <div class="img-box"><img src="" alt="" /></div>
    <div class="place-text-box">
      <h1>{{장소 이름}}</h1>
      <span>{{장소 타입}}</span>
      <h3>{{전화번호}}</h3>
    </div>
  </div>
</div>
{% endblock %}
