{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<head>
  <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet" />
</head>
<style>
  * {
    background-color: rgba(255, 240, 161, 1);
    font-family: "Dongle", sans-serif;
  }
  .menu-login {
    display: none;
  }
  .social {
    text-align: center;
  }
  #btn-bone {
    border: none;
  }
  #photo img{
    height: 500px;
  }
  #photo {
    margin: 0;
  }
  h1, p {
    margin: 10px;
  }
</style>
<div class="social">
  <div id="photo"><img src="\static\img\dog_cars.png" alt="" /></div>
  {% if process == "connect" %}

  <div class="log">
    <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

    <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
    {% else %}
    <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

    <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <button type="submit" id="btn-bone"><img class="login_icon" src="\static\img\login_icon.png" alt="" /></button>
    </form>
  </div>
</div>
{% endblock %}