/* base.html */
@import url("./reset.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 1vw;
  background-color: rgba(255, 240, 161, 1);
}

.category-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2rem;
}

.login-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}

/* home.html */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
  background-color: rgba(255, 240, 161, 1);
}

.home-container .banner img{
  object-fit: cover;
  margin: 20px 0 0 0;
}

.home-container .page_dot {
  padding: 30px;
}

.home-container .where_to_leave {
  text-align: left;
  width: 100%;
  padding: 70px 220px 0;
  font-size: xx-large;
}
.home-container .home_location_list {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 50px 150px 0 150px;
}

.home-container .home_location {
  display: flex;
  width: 151px;
  height: 151px;
}

.home-container .home_location img{
  object-fit: cover;
  width: 154px;
  height: 155px;
}

.home-container .shift-locations {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 0;
}

.home-container .shift-btn-left img:hover,
.home-container .shift-btn-right img:hover {
  cursor: pointer;
}

.home-container #num {
  display:none
}

.home-container .home_random_container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 550px;
  gap: 6rem;
  padding: 40px 0 0 0;
  margin: 0 0 50px 0;
}

.home-container .random-review {
  display: flex;
  flex-direction: column;
  background-image: url(/static/img/random/random_back.png);
  width: 349px;
  height: 513px;
}

.home-container .random-info {
  display: flex;
  height: 130px;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 1rem; */
  padding: 20px 0 6px 35px;
}

.home-container .random-title {
  border: #b9b9b9 1.5px solid;
  border-radius: 8px;
  width: fit-content;
  text-align: center;
  word-spacing: -2px;
  box-shadow: #949494 0px 2px 6px -1px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding: 5px;
}

.home-container .random-title:hover {
  cursor: pointer;
  background-color: rgba(255, 240, 161, 1);
  font-weight: bold;

}

.home-container .random-ranking-type {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  color: gray;
}

.home-container .random-ranking-type .star {
  display: flex;
  justify-content: start;
}

.home-container .random-ranking-type .ranking {
  display: none;
}

.home-container .random-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 325.5px;
  height: 190px;
  margin: 10px 0 0 5.5px;
}

.home-container .random-image img {
  object-fit: cover;
  width: 325.5px;
  height: 190px;
}

.home-container .random-location {
  padding: 0 0 0 20px;
}

.home-container .random-comment {
  height: 145px;
  width: 313px;
  padding: 25px 0 0 80px;
  font-size: 14px;
  line-height: 20px;
}

/* mypage.html */
.Like_ls{
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-bottom: 30px;
  background-color: #FFF0A1;
}

.Like_title{
  position: absolute;
  top: 43px;
  left: 70px;
  font-size: 1.2rem;
  font-family: 'Dongle', sans-serif;
  background-color: #BDDFFF;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 50px;
  padding-right: 50px;
  border: 2px solid rgb(9, 9, 9);
  margin: 3px;
  border-radius: 5px;

}

.myReview_ls{
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-bottom: 50px;
  background-color: #FFF0A1;
}

.myReview_title{
  position: absolute;
  top: 43px;
  left: 70px;
  font-size: 1.2rem;
  font-family: 'Dongle', sans-serif;
  background-color: #BDDFFF;
  border: 2px solid rgb(9, 9, 9);
  margin: 3px;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Login.html */
.log_in{
  position: relative;
  text-align: left;
  color: rgb(26, 26, 26);
  padding-bottom: 30px;
  background-color: #FFF0A1;
}

.login_form{
  position: absolute;
  top: 200px;
  right: 300px;
  font-size: 1.5rem;
  font-family: 'Dongle', sans-serif;
}
.log_in h1 {
  position: absolute;
  top: 150px;
  right: 450px;
  font-family: 'Dongle', sans-serif;
  font-size: 3rem;
}

.google_login{
  position: absolute;
  top: 300px;
  right: 30px;
  font-family: 'Dongle', sans-serif;
  border: 4px solid rgb(11, 11, 11);
  background-color: #F5F5F5;
  box-sizing: border-box;
  border-radius: 7px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.with_join{
  position: absolute;
  top: 370px;
  right: 30px;
  font-family: 'Dongle', sans-serif;
}

.login_join {
  position: absolute;
  top: 400px;
  right: 30px;
  font-family: 'Dongle', sans-serif;
  border: 4px solid rgb(11, 11, 11);
  background-color: #F5F5F5;
  box-sizing: border-box;
  font-size: 1.5rem;
  border-radius: 7px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
}


input[type=text], input[type=password] {
  width: 354px;
  padding: 12px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid rgb(11, 11, 11);
  box-sizing: border-box;
  border-radius: 5px;
}

input[type=submit] {
  width: 30%;
  padding: 5px 3px;
  margin: 2px 0;
  display: inline-block;
  border: 3px solid rgb(11, 11, 11);
  background-color: #F5F5F5;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Dongle', sans-serif;
  font-size: 1.5rem;
}

.login_illust{
  position: absolute;
  top: 50px;
  left: 130px;
  border: 3px solid #fbffe9;
  padding-top: 150px;
  background-color: #fbffe9;
  box-sizing: border-box;
  border-radius: 50px;
}

/* join.html */
body {
  background-color: #FFF0A1;
}

.sign_up{
  position: relative;
  text-align: left;
  color: rgb(26, 26, 26);
  padding-bottom: 30px;
  background-color: #FFF0A1;
}

.join_form{
  position: absolute;
  top: 200px;
  right: 300px;
  font-size: 1.5rem;
  font-family: 'Dongle', sans-serif;
}

.sign_up h2 {
  position: absolute;
  top: 150px;
  right: 450px;
  font-family: 'Dongle', sans-serif;
  font-size: 3rem;
}


input[type=text], input[type=password], input[type=email] {
  width: 354px;
  padding: 12px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid rgb(11, 11, 11);
  box-sizing: border-box;
  border-radius: 5px;
}

input[type=submit] {
  width: 30%;
  padding: 5px 3px;
  margin: 2px 0;
  display: inline-block;
  border: 3px solid rgb(11, 11, 11);
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Dongle', sans-serif;
  font-size: 1.5rem;
}

p1{
  position: absolute;
  top: 300px;
  right: 5px;
}

/*footer*/
.footer-container{
  background-color: #FFF6C3;
}

.footer-logo img{
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

.footer-logo{
  height: 80px;
  width: 80px;
}

.footer_text{
  font-size: 1rem;
  font-family: 'Dongle', sans-serif;
}