/* base.html */
@import url("./reset.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 1vw;
  background-color: rgba(255, 240, 161, 1);
}

.category-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2rem;
}

.login-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}

/* home.html */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
  background-color: rgba(255, 240, 161, 1);
}

.banner img{
  object-fit: cover;
  margin: 20px 0 0 0;
}

.page_dot {
  padding: 30px;
}

.where_to_leave {
  text-align: left;
  width: 100%;
  padding: 70px 220px 0;
  font-size: xx-large;
}
.home_location_list {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 50px 150px 0 150px;
}

.home_location {
  width: 151px;
  height: 151px;
}

.shift-locations {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 0;
}

.home_location {
  border: 1px solid rgb(102, 97, 97);
}

#num {
  display:none
}

.home_best_container {
  border: 1px solid rgb(102, 97, 97);
}

.home_best_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45vh;

}
.best_shift_lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.home_best_item {
  border: 1px solid rgb(102, 97, 97);
}

/* mainList.html */
