/* base.html */
@import url("./reset.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 1vw;
  background-color: rgba(255, 240, 161, 1);
}

.category-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2rem;
}

.login-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}

/* home.html */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
  background-color: rgba(255, 240, 161, 1);
}

.banner img{
  object-fit: cover;
  margin: 20px 0 0 0;
}

.page_dot {
  padding: 30px;
}

.where_to_leave {
  text-align: left;
  width: 100%;
  padding: 70px 220px 0;
  font-size: xx-large;
}
.home_location_list {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 50px 150px 0 150px;
}

.home_location {
  width: 151px;
  height: 151px;
}

.shift-locations {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 0;
}

.home_location {
  border: 1px solid rgb(102, 97, 97);
}

.shift-btn-left img:hover,
.shift-btn-right img:hover {
  cursor: pointer;
}

#num {
  display:none
}

.home_best_container {
  border: 1px solid rgb(102, 97, 97);
}

.home_best_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45vh;

}
.best_shift_lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.home_best_item {
  border: 1px solid rgb(102, 97, 97);
}

/* mypage.html */
.Like_ls{
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-bottom: 30px;
}

.Like_title{
  position: absolute;
  top: 43px;
  left: 70px;
  font-size: 1.2rem;
  font-family: 'Dongle', sans-serif;
  background-color: #BDDFFF;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 50px;
  padding-right: 50px;
  border: 2px solid rgb(9, 9, 9);
  margin: 3px;
  border-radius: 5px;

}

.myReview_ls{
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-bottom: 50px;
}

.myReview_title{
  position: absolute;
  top: 43px;
  left: 70px;
  font-size: 1.2rem;
  font-family: 'Dongle', sans-serif;
  background-color: #BDDFFF;
  border: 2px solid rgb(9, 9, 9);
  margin: 3px;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Login.html */
.log_in{
  position: relative;
  text-align: left;
  color: rgb(26, 26, 26);
  padding-bottom: 30px;
  background-color: #FFF0A1;
}

.login_form{
  position: absolute;
  top: 200px;
  right: 300px;
  font-size: 1.5rem;
  font-family: 'Dongle', sans-serif;
}
.log_in h1 {
  position: absolute;
  top: 150px;
  right: 450px;
  font-family: 'Dongle', sans-serif;
  font-size: 3rem;
}

.google_login{
  position: absolute;
  top: 300px;
  right: 30px;
  font-family: 'Dongle', sans-serif;
  border: 4px solid rgb(11, 11, 11);
  background-color: #F5F5F5;
  box-sizing: border-box;
  border-radius: 7px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.with_join{
  position: absolute;
  top: 370px;
  right: 30px;
  font-family: 'Dongle', sans-serif;
}

.login_join {
  position: absolute;
  top: 400px;
  right: 30px;
  font-family: 'Dongle', sans-serif;
  border: 4px solid rgb(11, 11, 11);
  background-color: #F5F5F5;
  box-sizing: border-box;
  font-size: 1.5rem;
  border-radius: 7px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
}


input[type=text], input[type=password] {
  width: 354px;
  padding: 12px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid rgb(11, 11, 11);
  box-sizing: border-box;
  border-radius: 5px;
}

input[type=submit] {
  width: 30%;
  padding: 5px 3px;
  margin: 2px 0;
  display: inline-block;
  border: 3px solid rgb(11, 11, 11);
  background-color: #F5F5F5;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Dongle', sans-serif;
  font-size: 1.5rem;
}

/* join.html */
body {
  background-color: #FFF0A1;
}

.sign_up{
  position: relative;
  text-align: left;
  color: rgb(26, 26, 26);
  padding-bottom: 30px;
  background-color: #FFF0A1;
}

.join_form{
  position: absolute;
  top: 200px;
  right: 300px;
  font-size: 1.5rem;
  font-family: 'Dongle', sans-serif;
}

.sign_up h2 {
  position: absolute;
  top: 150px;
  right: 450px;
  font-family: 'Dongle', sans-serif;
  font-size: 3rem;
}


input[type=text], input[type=password], input[type=email] {
  width: 354px;
  padding: 12px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid rgb(11, 11, 11);
  box-sizing: border-box;
  border-radius: 5px;
}

input[type=submit] {
  width: 30%;
  padding: 5px 3px;
  margin: 2px 0;
  display: inline-block;
  border: 3px solid rgb(11, 11, 11);
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Dongle', sans-serif;
  font-size: 1.5rem;
}

p1{
  position: absolute;
  top: 300px;
  right: 5px;
}

/*footer*/
.footer-container{
  background-color: #FFF6C3;
}

.footer-logo img{
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

.footer-logo{
  height: 80px;
  width: 80px;
}

.footer_text{
  font-size: 1rem;
  font-family: 'Dongle', sans-serif;
}