@import url("./reset.css");

/* 사진 부분 css */

.photo-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.photo-container .window {
  width: 141vh;
  overflow: hidden;
}

.photo-container .container {
  display: flex;
  gap: 7px;
  justify-content: center;
}

.window .real_photo {
  object-fit: cover;
}

.window .real_photo img {
  width: 35vh;
  height: 36vh;
  background-size: cover;
  border-radius: 15px;
}

.photo-container .photo_btn {
  border: 0;
  background-color: white;
}

.photo-container .photo_btn i {
  font-size: 30px;
  cursor: pointer;
}

.photo-container .photo_btn .i:hover {
  color: lightblue;
}

/* 사진 css 여기까지 */

body {
  background-color: rgb(255, 255, 255);
}

.place-photo {
  position: relative;
  text-align: center;
  background-color: #fffef8;
  color: rgb(18, 18, 18);
  padding-bottom: 30px;
  padding: 50px;
}

/* .real_photo {
  position: absolute;
  top: 30px;
  left: 120px;
} */

.no_photo {
  position: absolute;
  top: 100px;
  left: 600px;
  border: 1px solid rgba(255, 240, 161, 1);
  border-radius: 10px;
}

.place-photo h1 {
  position: absolute;
  top: 30px;
  left: 120px;
  font-size: 1.5rem;
  background-color: rgba(255, 240, 161, 1);
  padding: 14px;
  padding-bottom: 3px;
  border: 3px solid rgb(9, 9, 9);
  margin: 3px;
  border-radius: 5px;
  font-family: "Dongle", sans-serif;
  font-size: 2.5rem;
}

.img_box {
  position: relative;
  text-align: center;
  top: 80px;
  color: rgb(18, 18, 18);
}

.img_box h1 {
  position: absolute;
  top: 22px;
  left: 680px;
  font-size: 3.5rem;
  color: rgb(18, 18, 18);
  font-family: "Dongle", sans-serif;
}

.mini1 {
  position: absolute;
  top: 580px;
  left: 530px;
}

.mini2 {
  position: absolute;
  top: 250px;
  left: 530px;
}

.place-star {
  position: absolute;
  top: 180px;
  left: 700px;
}

.review_star {
  position: absolute;
  top: 150px;
  left: 580px;
}

.info-text-box {
  position: absolute;
  width: 90%;
  margin: 10px auto;
}

.info_text_line {
  position: absolute;
  float: left;
  top: 200px;
  left: 15px;
  width: 100%;
  box-sizing: border-box;
}

.info-text1 {
  position: absolute;
  float: left;
  width: 100%;
  top: 70px;
  left: 10px;
  font-family: "Dongle", sans-serif;
  font-size: 2rem;
}
.info-text2 {
  position: absolute;
  float: left;
  width: 100%;
  top: 120px;
  font-family: "Dongle", sans-serif;
  font-size: 2rem;
}
.info-text3 {
  position: absolute;
  float: left;
  width: 100%;
  top: 170px;
  left: 0px;
  font-family: "Dongle", sans-serif;
  font-size: 2rem;
}
.info-text4 {
  position: absolute;
  float: left;
  width: 100%;
  top: 220px;
  font-family: "Dongle", sans-serif;
  font-size: 2rem;
}

.info-text-desc {
  position: absolute;
  float: left;
  width: 80%;
  top: 480px;
  left: 15px;
  font-family: "Dongle", sans-serif;
  font-size: 1.5rem;
}

.no_detail {
  position: absolute;
  float: left;
  width: 80%;
  top: 480px;
  left: 15px;
  font-family: "Dongle", sans-serif;
  font-size: 1.5rem;
}

.detail_map {
  position: relative;
  text-align: center;
  top: 80px;
  padding: 40px;
  color: rgb(18, 18, 18);
}

.map_title h1 {
  position: absolute;
  top: 10px;
  left: 180px;
  font-size: 1.5rem;
  background-color: rgba(255, 240, 161, 1);
  padding: 14px;
  padding-bottom: 3px;
  padding-left: 50px;
  padding-right: 50px;
  border: 3px solid rgb(9, 9, 9);
  margin: 3px;
  border-radius: 5px;
  font-family: "Dongle", sans-serif;
  font-size: 2.5rem;
}

.review_title {
  position: relative;
  text-align: center;
  top: 80px;
  padding: 40px;
  color: rgb(18, 18, 18);
}

.review {
  position: absolute;
  top: 2300px;
  left: 200px;
}

.review_title h1 {
  position: absolute;
  top: 10px;
  left: 180px;
  background-color: rgba(255, 240, 161, 1);
  padding: 14px;
  padding-bottom: 3px;
  padding-left: 50px;
  padding-right: 50px;
  border: 3px solid rgb(9, 9, 9);
  margin: 3px;
  border-radius: 5px;
  font-family: "Dongle", sans-serif;
  font-size: 2.5rem;
}

.review_title a {
  position: absolute;
  top: 80px;
  left: 1250px;
  font-size: 1rem;
  background-color: #ffffff;
  padding: 14px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 2px solid rgb(9, 9, 9);
  margin: 3px;
  border-radius: 5px;
  font-family: "Patrick Hand", cursive;
}

.back_to_list {
  position: absolute;
  left: 550px;
  background-color: rgba(255, 240, 161, 1);
  padding-bottom: 3px;
  padding-left: 50px;
  padding-right: 50px;
  border: 3px solid rgb(9, 9, 9);
  margin: 100px;
  border-radius: 5px;
  font-family: "Dongle", sans-serif;
  font-size: 2.5rem;
}
