.detail-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.detail-container .photo-container {
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.detail-container .detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .detail-container .detail-map {

} */

.detail-container .detail-review {
  display: flex;
  flex-direction: column;
}