/* mypage.html */

.my-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 240, 161, 1);
  gap: 2rem;
}

/* background-image: url(/static/img/Like_sq.svg); */
/* background-size: cover; */
.my-container .Like_ls {
  display: flex;
  flex-direction: column;
  width: 1300px;
  background-color: white;
  border: black solid;
  border-radius: 20px;
  box-shadow: 7px 7px 8px #acacac;
}

.my-container .title-container {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  padding: 40px 0 0 40px;
}

.my-container .title {
  font-size: xx-large;
  font-family: 'Dongle', sans-serif;
  background-color: #BDDFFF;
  padding: 3px 50px;
  border: 2px solid rgb(9, 9, 9);
  border-radius: 5px;
  margin: 3px;
}

.my-container .like-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 35px 20px 30px;
  gap: 1rem;
}

/* background-image: url(/static/img/my_like.svg); */
/* background-size: auto; */
/* background-position: center; */
/* background-repeat: no-repeat; */
.my-container .my-like {
  flex: 1 1 50%;
  background-color: white;
  border: black solid;
  border-radius: 20px;
  box-shadow: 7px 7px 8px #acacac;
  height: 155px;
  padding: 15px 15px 15px 15px;
}

/* background-image: url(/static/img/myReview_sq.svg);
background-size: contain;
background-repeat: no-repeat; */
.my-container .myReview_ls {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 1300px;
  border: black solid;
  border-radius: 20px;
  box-shadow: 7px 7px 8px #acacac;
}

.my-container .review-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 1.5rem;
}

/* background-image: url(/static/img/my-review.svg);
background-size: contain;
background-position: center;
background-repeat: no-repeat; */
.my-container .my-review {
  background-color: white;
  border: black solid;
  border-radius: 20px;
  box-shadow: 7px 7px 8px #acacac;
  height: 85px;
  padding: 10px 10px 10px 10px;
}